.section {
    background: #fff;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.section__header {
    padding: 20px;
    margin: 0;
    border-bottom: 3px solid #eee;
}

.section--below {
    margin-top: 20px;
}

.section__header--grid {
    display: grid;
    grid-template-columns: 3fr auto auto;
    grid-gap: 20px;
}

.section__button {
    height: 50px;
    font-size: 20px;
    background-color: teal;
    color: white;
    border: none;
    padding: 15px;
    transition: 2s;
}

.section__button:disabled {
    height: 50px;
    font-size: 20px;
    background-color: hsl(180, 100%, 35%);
    color: white;
    border: none;
    padding: 15px;
}

.section__button--hidden{
    display:none;
    height: 50px;
    font-size: 20px;
    background-color: hsl(180, 100%, 35%);
    color: white;
    border: none;
    padding: 15px;
}

.section__button:hover {
    height: 50px;
    font-size: 20px;
    background-color: hsl(180, 100%, 45%);
    color: white;
    border: none;
    padding: 15px;
}